version: 2

workflows:
  version: 2
  plan_and_apply:
    jobs:
      - plan
      - hold: { requires: [ 'plan' ], type: approval }
      - apply: { requires: [ 'hold' ] }

jobs:

  plan:
    working_directory: ~/checkout
    docker:
      - image: circleci/node:6.11.1
      - image: consul
    steps:
      - checkout

      - run:
         name: Install terraform
         command: ~/checkout/.circleci/install-terraform.sh
         environment:
           TERRAFORM_VERSION: '0.9.11'

      - run: mkdir -p /var/tmp/workspace

      - run:
         name: Terraform plan
         command: ~/checkout/.circleci/terraform-plan.sh
         pwd: definition
         environment:
           OUTPUT_PATH: /var/tmp/workspace/terraform.plan

      - persist_to_workspace:
         root: /var/tmp/workspace
         paths: [ '*' ]

  apply:
    working_directory: ~/checkout
    docker:
      - image: circleci/node:6.11.1
      - image: consul
    steps:

      - attach_workspace:
          at: /var/tmp/workspace

      - show_workspace: ls /var/tmp/workspace

      - checkout

      - run:
         name: Install terraform
         command: ~/checkout/.circleci/install-terraform.sh
         environment:
           TERRAFORM_VERSION: '0.9.11'

      - run:
         name: Terraform apply
         command: ~/checkout/.circleci/terraform-apply.sh
         pwd: definition
         environment:
           PLAN_PATH: /var/tmp/workspace/terraform.plan

